/*GLABOL*/
.sanphamchung input:hover{
    cursor: pointer;
}
/*in đậm*/
.in_dam{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}
.sanphamchung .row{
    padding: 0px;
    margin: 0;
}
.sanphamchung .row .col-2 .row .col-12{
    padding: 0px;
}
/*category*/
/*gender*/
 .gender::after,.shop_by_price::after, .brand::after, .sports::after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: #919191;
    display: block;
}
.sanphamchung .row h2{
    font-size: 30px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
}
.sanphamchung .row .col-2 .div h2{
    text-align: center;
}
/*sanpham*/
.sanphamchung .row .col-10 .div1 h2{
    padding-left: 20px;
}
.sanphamchung .col-2,.sanphamchung .col-10{
    padding: 0px;
}
.sanphamchung .div1{
    background-color: #ffffff;
}
.sanphamchung .col-10 .div1 .row a{
    line-height: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
.sanphamchung .div1 .row img{
    width: 99%;
    height: 45vh;
    background-size: cover;
}
.div1 .row .paddingbottom{
    padding-bottom: 3%;
}
.div1 .row img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.sanphamchung .col-10 .div1 .row a:hover{
    color: red;
}